@import '../../theme/variables.scss';

html {
  background-color: #fafafa;
}

html body {
  background-color: #fafafa;
  min-width: 320px;
}

.app {
  padding: 0;
  margin: 0;
  height: 400px;
}

.appContainer {
  padding-top: 20px;
}
